/* .smooth-hover {
  position: relative;
}

.smooth-hover:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.smooth-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.9s ease, box-shadow 0.9s ease;
} */

.banner-container-appointment {
  min-height: 700px;
}
.bg-image-banner {
  height: 1350px;
}
.pricing-section-appointment {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.session-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  justify-items: center;
  align-items: start; /* 👈 this is the key */
}
.ruqyah-session-card {
  background-color: #f9f6f6;
  border-radius: 15px;
  width: 320px;
  height: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  text-align: center;
}

@media (min-width: 400px) {
  .ruqyah-session-card {
    width: 395px;
  }
  /* .book-appointment-modal {
    width: 390px;
  } */
}
@media (min-width: 500px) {
  .book-appointment-modal {
    width: 490px;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  .book-appointment-modal {
    width: 630px;
  }
}
@media (min-width: 810px) {
  .book-appointment-modal {
    width: 70vw;
  }
}

@media (min-width: 640px) {
  .session-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bg-image-banner {
    height: 900px;
  }
  .pricing-section-appointment {
    margin-top: 150px;
  }
  .ruqyah-session-card {
    width: 500px;
  }
}

/* Medium desktops (≥1024px) */
@media (min-width: 1024px) {
  .session-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .bg-image-banner {
    height: 900px;
  }
  .pricing-section-appointment {
    margin-top: 150px;
  }
  .ruqyah-session-card {
    width: 730px;
  }
}

/* Large desktops (≥1280px) */
@media (min-width: 1280px) {
  .session-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .bg-image-banner {
    height: 750px;
  }
  .banner-container-appointment {
    min-height: 700px;
  }
  .pricing-section-appointment {
    margin-top: 0px;
  }
  .ruqyah-session-card {
    width: 730px;
  }
}
