@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text-primary: #1f2937; /* Default text color for light mode */
  --text-secondary: #4b5563; /* Secondary text color for light mode */
  --text-green: #63953a;
  --bg-green: #63953a;
  --text-orange: #f7ca41;
  --bg-orange: #ffc267;
  --bg-primary: #ffffff; /* Background color for light mode */
  --bg-secondary: #f3f4f6; /* Secondary background for light mode */
  --border-color: #d1d5db; /* Border color for light mode */
  --link-color: #2563eb; /* Link color for light mode */
  --btn-primary: #007bff; /* Primary button color for light mode */
  --btn-submit: #27c93f; /* Submit button color for light mode */
  --btn-cancel: #dc3545; /* Cancel button color for light mode */
  --btn-outline: transparent; /* Outline button color for light mode */
  --btn-outline-border: #007bff; /* Outline button border color for light mode */
}

[data-theme="dark"] {
  --text-primary: #f3f4f6; /* Default text color for dark mode */
  --text-secondary: #9ca3af; /* Secondary text color for dark mode */
  --text-green: #63953a;
  --bg-green: #63953a;
  --text-orange: #ffc267;
  --bg-orange: #f7ca41;
  --bg-primary: #1f2937; /* Background color for dark mode */
  --bg-secondary: #111827; /* Secondary background for dark mode */
  --border-color: #374151; /* Border color for dark mode */
  --link-color: #3b82f6; /* Link color for dark mode */
  --btn-primary: #375a7f; /* Primary button color for dark mode */
  --btn-submit: #218838; /* Submit button color for dark mode */
  --btn-cancel: #c82333; /* Cancel button color for dark mode */
  --btn-outline: transparent; /* Outline button color for dark mode */
  --btn-outline-border: #375a7f; /* Outline button border color for dark mode */
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.container {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}
.text-green {
  color: var(--text-green);
}
.text-orange {
  color: var(--text-orange);
}
.bg-orange {
  background-color: var(--bg-orange);
}
.bg-green {
  background-color: var(--bg-green);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.border {
  border-color: var(--border-color);
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-color);
  text-decoration: underline;
}

/* Button Styles */
.play-button {
  box-shadow: 0px 0px 47px #7a51e2;
}
.play-button-shadow:hover {
  box-shadow: 0px 0px 47px #7a51e2;
}

.load-more-btn {
  padding: 0.5rem 1rem; 
  background-color: #63953a;
  color: white; 
  border-radius: 9999px; 
  transition: all 0.2s ease-in-out;
}
.load-more-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn {
  background-color: var(--btn-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: inline-block;
}
.btn-sm {
  background-color: var(--btn-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: darken(var(--btn-primary), 10%);
  border-color: darken(var(--border-color), 10%);
}

.btn-submit {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border: none;
  color: white;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-submit:hover {
  background: linear-gradient(180deg, #367af6 0%, #4b91f7 100%);
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.5);
}

.btn-submit:active {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.btn-submit {
  background-color: #779341;
  color: white;
}
.btn-cancel {
  background-color: var(--btn-cancel);
  border-color: var(--btn-cancel);
}

.btn-cancel:hover {
  background-color: darken(var(--btn-cancel), 10%);
  border-color: darken(var(--btn-cancel), 10%);
}

.btn-outline {
  background-color: var(--btn-outline);
  color: var(--btn-outline-border);
  border: 1px solid var(--btn-outline-border);
}

.btn-outline:hover {
  background-color: var(--btn-outline-border);
  color: var(--text-primary);
}

.btn-loader {
  width: 12px;
  height: 12px;
  border: 3px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: btn-loader-animation 1s linear infinite;
}
@keyframes btn-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes btn-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tailwind-reset * {
  all: unset;
}
.ProseMirror-focused:focus-visible {
  outline: none;
}

.spinner2 {
  width: 40px;
  height: 40px;
  border: 4px solid;
  border-color: #7ebc12 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation2 1s linear infinite;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-theme="dark"] .react-select__menu {
  background-color: #667494;
  color: black;
}

.text-wrapped {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

svg.star-svg {
  display: inline;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}
.charisSIL-font {
  font-family: "Charis SIL", sans-serif;
}
.sacramento-font {
  font-family: "Sacramento", sans-serif;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop {
  animation: pop 0.4s ease-in-out;
}
.nav-wrapper {
  min-height: 110px;
}
@media (max-width: 1050px) {
  .nav-items {
    display: none;
  }
  .nav-wrapper {
    min-height: 64px;
  }
}
@media (min-width: 1050px) {
  /* .nav-theme-switch {
    display: none;
  } */
  .nav-theme-switch-lg {
    display: none;
  }
  .nav-items {
    display: flex;
  }
}

.navbar-background {
  background-color: var(
    --navbar-bg-color
  ); /* Use CSS variables for dynamic theming */
}

/* #login_bg_image {
  background-image: url("./../../public//bgImages/login_page_bg.jpeg");
  height: 100vh;
} */

.btn-rounded-green {
  background-color: #63953a;
  color: #ffffff;
}
.btn-rounded-transparent {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
}
.btn-rounded-transparent:hover {
  background-color: #63953a;
  color: #ffffff;
  transition: all;
  transition-duration: 500ms;
}
.green-border {
  border-style: solid;
  border-color: #63953a;
  border-width: 1px;
}
.nav-buttons {
  font-size: 16px;
  font-family: Montserrat;
  color: #2d2e2e;
  font-weight: 400;
  letter-spacing: 0%;
}

.font-georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.explore-self-ruqyah-now-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn-explore-self-ruqyah-now2-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.explore-self-ruqyah-now-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
}
@media (min-width: 1121px) {
  .btn-explore-self-ruqyah-now {
    display: block;
    margin-bottom: 70px;
    margin-top: 80px;
  }
  .self-ruqyah-resources-right-side-div {
    padding-top: 20px;
  }
  .explore-self-ruqyah-now-wrapper {
    gap: 125px;
  }
  .btn-explore-self-ruqyah-now2 {
    display: none;
  }
}
@media (max-width: 1120px) {
  .btn-explore-self-ruqyah-now {
    display: none;
    margin-bottom: 0px;
  }
  .explore-self-ruqyah-now-wrapper {
    gap: 40px;
  }
}

.session-card {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #e0d4d4;
  transition: transform 0.7s ease;
}

.our-services-wrapper {
  height: 300px;
}
@media (max-width: 856px) {
  .our-services-wrapper {
    height: 600px;
  }
}
@media (max-width: 572px) {
  .our-services-wrapper {
    height: 900px;
  }
}

.mission-wrapper-upper-div {
  background-color: rgba(99, 149, 58, 0.23);
}

.voucher-apply-button {
  background-color: rgba(99, 149, 58, 0.21);
  color: black;
}
.voucher-apply-button:hover {
  background-color: rgba(99, 149, 58, 1);
  color: white;
}

.eq {
  display: flex;
  gap: 2px;
  height: 16px;
  align-items: flex-end;
}

.eq span {
  width: 3px;
  background: #63953a;
  animation: bounce 1s infinite ease-in-out;
}

.eq span:nth-child(2) { animation-delay: .1s }
.eq span:nth-child(3) { animation-delay: .2s }
.eq span:nth-child(4) { animation-delay: .3s }

@keyframes bounce {
  0%, 100% { height: 20%; }
  50% { height: 100%; }
}

@keyframes eq {
  0%, 100% { height: 30%; }
  50% { height: 100%; }
}


.loader-dot {
  width: 12px;
  height: 12px;
  background-color: #111827; /* gray-900 */
  border-radius: 9999px;
  display: inline-block;
  animation: bounceDot 1.2s infinite ease-in-out;
}

.delay-1 { animation-delay: -0.3s; }
.delay-2 { animation-delay: -0.15s; }
.delay-3 { animation-delay: 0s; }

@keyframes bounceDot {
  0%, 80%, 100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
